/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 14, 2020, 7:23:38 PM
    Author     : asus
*/
#spBanChay a{
    margin-left: 100px;
    width: 33%;
    
}
#spBanChay span{
   margin-left: 100px; 
}
#spBanChay{
    display: flex;
}
.home_img1,.home_img2{
    margin-right: 50px;
    margin-left: 50px;
}
.home_img1 img{
    width: 100%;
}
.bigcity_img img{
    margin-left: 50px;
    margin-right: 50px;
    height: 250px;
    width: 1376px;
}
.pr{
    display: flex;
    width: 100%;
}
.pr img{
    
    width: 30px;
    height: 30px;
    padding-bottom: 54px;
}
.pr div{
    
    width: 100%;
/*    padding-left: 100px;
    padding-right: 100px;*/
    height: 54px;
    background-color: white;
    border-radius: 10px;
}

.pr_pr{
    display: flex;
    margin-left: 50px;
    margin-right: 50px;
    padding-top: 10px;
    padding-bottom: 50px;
}
.pr_pr:hover{
    zoom: 110%;
}

.home_img2{
    margin-top: 0px;
}
p{
    margin:0px;
    color: black;
}
.hr1{
    width: 30%;
    background-color: pink;
    float:left;
    margin-right: 110px;
}
.hr2{
    width: 30%;
    background-color: pink;
    float:right;
}
.product{
    margin-top: 50px;
}
span{
    margin: 0px;
    font-size: 25px;
    font-family: sans-serif;
}



